@font-face {
  font-display: swap;
  font-family: "Annabelle";
  src: url("../fonts/TT-Lovelies-Script.woff2") format("woff2"),
  url("../fonts/TT-Lovelies-Script.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "PoiretOne";
  src: url("../fonts/MontserratAlternates-Regular.woff2") format("woff2"),
  url("../fonts/MontserratAlternates-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
